<?xml version="1.0" encoding="utf-8"?>
<configuration>

 
  <connectionStrings>
    <add name="devicemanager" connectionString="Server=10.1.5.25;Port=3306;Database=yunt_devicemanger;Uid=root;Pwd=unitoon2017;" providerName="MySql.Data.MySqlClient" />
    <add name="yunt_xml"  connectionString="server=rm-wz9mrn9kj0lt0r0i18o.mysql.rds.aliyuncs.com;port=3306;database=yunt_xml;uid=wdd;pwd=Unitoon2018" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--主xml路径-->
    <add key="xmlpath" value="XmlFile\wdd.xml" />
  </appSettings>

</configuration>