<?xml version="1.0" encoding="utf-8"?>
<configuration>

 
  <connectionStrings>
   
    <add name="yunt_xml"  connectionString="server=rm-wz9mrn9kj0lt0r0i18o.mysql.rds.aliyuncs.com;port=3306;database=yunt_xml;uid=wdd;pwd=Unitoon2018" providerName="MySql.Data.MySqlClient" />
    <add name="yunt.dtsc"  connectionString="server=rm-wz9mrn9kj0lt0r0i18o.mysql.rds.aliyuncs.com;port=3306;database=yunt_dtsc;uid=wdd;pwd=Unitoon2018" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>