<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <connectionStrings>

    <add name="unitooniot_analysis"  connectionString="Password=U2n0i1t7oon;Persist Security Info=True;User ID=xenomorph;Initial Catalog=unitooniot_analysis;Data Source=rm-bp1e7cw4xl2ns45aoo.sqlserver.rds.aliyuncs.com,3433;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="unitooniot_configmanager"  connectionString="Password=U2n0i1t7oon;Persist Security Info=True;User ID=xenomorph;Initial Catalog=unitooniot_configmanager;Data Source=rm-bp1e7cw4xl2ns45aoo.sqlserver.rds.aliyuncs.com,3433;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>